<!DOCTYPE HTML>
<html lang="en">

{{> components/documentHead}}

<body id="blog-body" class="is-loading">
    {{> components/postNavbar }}

    <div class="post-wrapper inner">
        <b class="meta">
            <span class="upper-case">{{post.dateFormatted}}
                {{#each post.tags}}{{#if @first}}&nbsp;&nbsp;/&nbsp;&nbsp;{{this}}{{/if}}{{/each}}
            </span>
        </b>
        <h1>{{post.title}}</h1>

        <div class="content">
            <div class="cover" style="background-image: url(/posts/{{post.url}}/{{post.imageUrl}})"></div>
            <div class="markdown-content">
                <slot />
            </div>
        </div>

        <br /><br />

        <div id="disqus_thread"></div>
    </div>

    <a href="/" title="Home" class="post-go-back">🡄</a>

    {{> components/fullPageLoader}}
</body>

{{> components/scripts includeHighlighJs="true"}}

{{#if disqusSiteId}}
<script>
    var disqus_config = function () {
        this.page.url = "{{baseUrl}}posts/{{post.url}}";
        this.page.identifier = "{{post.url}}";
    };

    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{disqusSiteId}}/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{{/if}}

</html>