<!DOCTYPE HTML>
<html lang="en">

{{> components/documentHead}}

<body id="blog-body" class="is-loading">
    {{> components/postNavbar }}

    <div class="post-wrapper inner">
        <b class="meta">
            <span class="upper-case">{{post.dateFormatted}}
                {{#each post.tags}}{{#if @first}}&nbsp;&nbsp;/&nbsp;&nbsp;{{this}}{{/if}}{{/each}}
            </span>
        </b>
        <h1>{{post.title}}</h1>

        <div class="content">
            <div class="cover" style="background-image: url(/posts/{{post.url}}/{{post.imageUrl}})"></div>
            <div class="markdown-content">
                <slot />
            </div>
        </div>

    </div>

    {{> components/fullPageLoader}}
</body>

{{> components/scripts includeHighlighJs="true"}}

</html>